
@{
    ViewBag.Title = "Manage Assessment";
}

@using NSDC.Assessor.Utility;
@using NSDC.Assessor.BusinessObject.UserAccount;

@{
    UserInfo info = new UserInfo();

    if (Session["UserInfo"] != null)
    {
        info = (UserInfo)Session["UserInfo"];


    }
}

<script src="~/Scripts/AssessmentManagement/ManageAssessment.js"></script>
@*<script src="~/Areas/Report/Script/ManageAssessment.js"></script>*@
<div id="main" ng-controller="AssessmentController">
    <h2 class="page-header" ng-show="!modal1"><span>Manage Assessment</span></h2>
    <input hidden type="text" id="logintype" name="name" value="@(info.LoginType)" />
    <input hidden type="text" id="refSSCID" name="refSSCID" value="@(info.RefSSCID)" />
    <input hidden type="text" id="refSectorID" name="refSectorID" value="@(info.RefSectorID)" />
    <input hidden type="text" id="AgencyId" name="AgencyId" value="@(info.AgencyId)" />

    <form ng-show="!modal1">
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-4">
                    <label for="RefSectorID">Sector Name</label>
                    <div>
                        @if (info.LoginType.ToUpper() == "SSC")
                        {
                            <select id="RefSectorID" ng-disabled="isDisabled" class="form-control" ng-model="Agency.RefSectorID">
                                @*ng-change="BindJobRoleDropdown(Agency.RefSectorID)"*@
                                <option ng-repeat="value in SectorList" value="{{value.ID}}">{{value.Name}}</option>
                            </select>
                        }
                        else
                        {
                            <select id="RefSectorID" class="form-control" ng-model="Agency.RefSectorID" ng-change="BindJobRoleDropdown(Agency.RefSectorID)" ng-options="value.ID as value.Name for (key, value) in SectorList">
                                <option value="">--ALL --</option>
                            </select>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="RefJobRoleID">Job Role</label>
                    <div class="">
                        <select id="RefJobRoleID" class="form-control" ng-model="Agency.RefJobRoleID" ng-options="value.ID as value.Name for (key, value) in JobRoleList">
                            <option value="">--ALL --</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="RefStateID">State Name</label>
                    <div class="">
                        <select id="RefStateID" class="form-control" ng-model="Agency.RefStateID" ng-change="BindDistrictDropdown(Agency.RefStateID)" ng-options="value.ID as value.Name for (key, value) in StateList">
                            <option value="">--ALL --</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    <label for="RefDistrictID">District Name</label>
                    <div class="">
                        <select id="RefDistrictID" class="form-control" ng-model="Agency.RefDistrictID" ng-change="BindTrainingCenterDropdown(Agency.RefDistrictID)" ng-options="value.ID as value.Name for (key, value) in DistrictList">
                            <option value="">--ALL --</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="RefTCID">Training Center Name</label>
                    <div class="">
                        <select id="RefTCID" class="form-control" ng-model="Agency.RefTCID" ng-options="value.ID as value.Name for (key, value) in TCList">
                            <option value="">--ALL --</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="RefAgencyID">Agency Name</label>
                    <div class="">
                        @if (info.LoginType.ToUpper() == "AGENCIES")
                        {
                            <select id="RefAgencyID" class="form-control" ng-disabled="isDisabled" ng-model="Agency.RefAgencyID" ng-change="BindAssessorDropdown(Agency.RefAgencyID)">
                                <option ng-repeat="value in AgencyList" value="{{value.ID}}">{{value.Name}}</option>
                            </select>
                        }
                        else
                        {
                            <select id="RefAgencyID" class="form-control" ng-model="Agency.RefAgencyID" ng-change="BindAssessorDropdown(Agency.RefAgencyID)" ng-options="value.ID as value.Name for (key, value) in AgencyList">
                                <option value="">--ALL --</option>
                            </select>
                        }
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    <label for="RefAssessorID">Assessor Name</label>
                    <div class="">
                        <select id="RefAssessorID" class="form-control" ng-model="Agency.RefAssessorID" ng-options="value.ID as value.Name for (key, value) in AssessorList">
                            <option value="">--ALL --</option>
                        </select>

                    </div>
                </div>
                <div class="col-md-4">
                    <label for="AssessmentType">Assessment Type</label>
                    <div class="">
                        <select id="AssessmentType" class="form-control" ng-model="Agency.AssessmentType">
                            <option value="ALL">--ALL--</option>
                            <option value="Complete">Complete</option>
                            <option value="Pending">Pending</option>
                            <option value="Upcoming">Upcoming</option>
                            <option value="Inprogress">Inprogress</option>
                        </select>

                    </div>
                </div>
                <div class="col-md-4">
                    <label for="BatchName">Batch Name/Email/Assessor ID</label>
                    <div>
                        <div>
                            <input type="text" id="BatchName" class="form-control" ng-model="Agency.BatchName" placeholder="Batch Name/Email/Assessor ID" autofocus="autofocus">
                        </div>

                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    <label for="AssessmentDate">Assessment Date</label>
                    <div>
                        <div>
                            <fieldset>
                                <div class="control-group">
                                    <div class="controls">
                                        <div class="xdisplay_inputx form-group has-feedback">
                                            <div class="input-group" id='assessmentdateid' >
                                                <input id="AssessmentDate" type='text' ng-model="Agency.AssessmentDate" name="FromDate" max-date="dateCtrl.maxDate" class="form-control input-group-addon" autocomplete="off" placeholder="Assessment Date" style="width: calc(100% - 60px);"/>
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2" style="padding: 10px 20px 10px 10px;">
                                                        <i class="far fa-calendar-alt "></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                    </div>
                </div>
                
                    <div class="col-md-4">
                        <label for="AssessmentEndDate">Assessment End Date</label>
                        <div>
                            <div>
                                <fieldset>
                                    <div class="control-group">
                                        <div class="controls">
                                            <div class="xdisplay_inputx form-group has-feedback">
                                                <div class="input-group" id='assessmentenddateid'>
                                                    <input id="AssessmentEndDate" type='text' ng-model="Agency.AssessmentEndDate" name="FromDate" max-date="dateCtrl.maxDate" class="form-control input-group-addon" autocomplete="off" placeholder="Assessment End Date" style="width: calc(100% - 60px);" />
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="basic-addon2" style="padding: 10px 20px 10px 10px;">
                                                            <i class="far fa-calendar-alt "></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
               
                <div class="col-md-4">
                    <label for="BatchName">Training Type</label>
                    <div>
                        <div>
                            <input type="text" id="TrainingType" class="form-control" ng-model="Agency.TrainingType" placeholder="Training Type" autofocus="autofocus">
                        </div>

                    </div>
                </div>
                
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    <label for="BatchName">Training Code</label>
                    <div>
                        <div>
                            <input type="text" id="TrainingCode" class="form-control" ng-model="Agency.TrainingCode" placeholder="Training Code" autofocus="autofocus">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-primary" ng-click="Search(Agency.RefSectorID,Agency.RefJobRoleID,Agency.RefStateID,Agency.RefDistrictID,Agency.RefTCID,Agency.RefAgencyID,Agency.RefAssessorID)">Search</button>
            <button class="btn btn-danger" ng-click="Close()">Clear</button>
            <a ng-click="exportData()" href="javascript:;" class="btn btn-primary">
                <i class="fas  fa-file-excel" aria-hidden="true"></i>
            </a>
        </div>
    </form>


    <!-- DataTables Example -->
    <div class="card mb-3">

        <div class="card-body" ng-show="!modal1">
            <div class="table-responsive">
                <table class="table table-bordered" datatable="ng" id="dataTable1" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Batch Name</th>
                            <th>Assessment Date </th>.
                            <th>Assessment End Date </th>
                            <th>Agency Name</th>
                            <th>Assessor Name</th>
                            <th>Partner Name</th>
                            <th>Centre Name </th>
                            <th>Training Type</th>
                            <th>Training Code</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="ng-cloak" ng-repeat="item in  AssessmentList track by $index">
                            <td>{{item.BatchName}}</td>
                            <td>{{item.PreferedAssessmentDate}}</td>
                            <td>{{item.PrefAssessmentEndDate}}</td> @*for end assessment date*@
                            <td>{{item.SCAgencyName}}</td>
                            <td>{{item.AssessorName}}</td>
                            <td>{{item.PartnerName}}</td>
                            <td>{{item.CentreName}}</td>
                            <td>{{item.TrainingType}}</td>
                            <td>{{item.TrainingCode}}</td>
                            <td><a href="javascript:void(0)" title="View Details" data-target="#modal1" ng-click="Edit(item)" class="actn"><i class="fa fa-eye" aria-hidden="true"></i></a></td>

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div ng-show="modal1">
            <div id="modal1">
                @*<h2 class="page-header"><span>Assessment Details</span></h2>*@
                <div class="card-body">
                    <div class="table-responsive">
                        <h2 class="page-header">
                            <span>Assessment Details</span>

                            <button class="btn btn-primary back-button" ng-click="hideDeatil();">Back</button>
                            <a ng-click="saveFile()" href="javascript:;" class="btn btn-primary back-button">
                                <i class="fas  fa-file-excel" aria-hidden="true"></i>
                            </a>
                        </h2>
                        <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Batch Name</th>
                                    <th>Batch Start Date </th>
                                    <th>Batch End Date </th>
                                    <th>Prefered Assessment Date </th>
                                    <th>Prefered Assessment End Date </th>
                                    <th>Job Role </th>
                                    <th>Sector Type</th>
                                    <th>Sector Name </th>
                                    <th>Training Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="ng-cloak">
                                    <td>{{AssessmentDetailsbyID.BatchName}}</td>
                                    <td>{{AssessmentDetailsbyID.BatchStartDate}}</td>
                                    <td>{{AssessmentDetailsbyID.BatchEndDate}}</td>
                                    <td>{{AssessmentDetailsbyID.PreferedAssessmentDate}}</td>
                                    <td>{{AssessmentDetailsbyID.PrefAssessmentEndDate}}</td>
                                    <td>{{AssessmentDetailsbyID.JobRole}}</td>
                                    <td>{{AssessmentDetailsbyID.JobroleSectorType}}</td>
                                    <td>{{AssessmentDetailsbyID.SectorName}}</td>
                                    <td>{{AssessmentDetailsbyID.TrainingType}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <h2 class="page-header"><span>TC/TP Details</span></h2>
                        <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Centre Name </th>
                                    <th>Tc State</th>
                                    <th>Tc District</th>
                                    <th>Latitude</th>
                                    <th>Longitude</th>
                                    <th>Tc Address </th>
                                    <th>Partner Name</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr class="ng-cloak" ng-repeat="u in assessmentDetailList track by $index">
                                    <td>{{u.CentreName}}</td>
                                    <td>{{u.TcState}}</td>
                                    <td>{{u.TcDistrict}}</td>
                                    <td>{{u.TCLatitude}}</td>
                                    <td>{{u.TCLongitude}}</td>
                                    <td>{{u.TcAddress}}</td>
                                    <td>{{u.PartnerName}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <h2 class="page-header"><span>Assessor Details</span></h2>
                        <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>DOB</th>
                                    <th>Gender</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr class="ng-cloak" ng-repeat="u in assessmentDetailList track by $index">
                                    <td>{{u.AssessorName}}</td>
                                    <td>{{u.DOB}}</td>
                                    <td>{{u.Gender}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="card-body">
                    <div class="table-responsive">
                        <h2 class="page-header"><span>Candidate Attendance</span></h2>
                        <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>S.No.</th>
                                    <th>Candidate ID.</th>
                                    <th>Candidate Name</th>
                                    <th>Father Name</th>
                                    <th>Attendance</th>
                                    <th>Aadhar Auth</th>
                                    <th>Auth Timing</th>
                                    <th>Error Code</th>
                                    <th>Error Description</th>
                                    <th>Att. by Service</th>
                                    @*<th>Remarks</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="ng-cloak" ng-repeat="u in CandidateList track by $index" >
                                    <td>{{$index+1}}</td>
                                    <td>{{u.CandidateId}}</td>
                                    <td>{{u.Name}}</td>
                                    <td>{{u.FatherName}}</td>
                                    <td>{{u.IsAttendanceMarked}}</td>
                                    <td>{{u.AadhaarAuthentication}}</td>
                                    <td>{{u.AuthTiming}}</td>
                                    <td>{{u.ErrorCode}}</td>
                                    <td>{{u.ErrorMsg}}</td>
                                    <td>{{u.AttendanceMarkBy}}</td>
                                    @*<td>{{u.Remarks}}</td>*@
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="card-body">
                    <div class="table-responsive">
                        <h2 class="page-header"><span>Assessment Status</span></h2>
                        <table class="table table-bordered" id="dataTable1" border="1">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Assessment Date</th>
                                    <th>Assessment Latitude</th>
                                    <th>Assessment Longitude</th>
                                    <th>Address</th>
                                    <th>Distance</th>
                                    <th>Total Duration</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="ng-cloak" ng-repeat="u in assessmentStatus track by $index">

                                    <td>{{u.Type}}</td>
                                    <td>{{u.StatusDate}}</td>
                                    <td>{{u.Latitude}}</td>
                                    <td>{{u.Longitude}}</td>
                                    <td>{{u.Address}}</td>
                                    <td>{{u.Distance}}</td>
                                    <td ng-if="$index==1?false:true" rowspan="2">{{u.Duration}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <h2 class="page-header"><span>Geo Location Log</span></h2>
                        <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>S.No.</th>
                                    <th>Date Time</th>
                                    <th>Latitude</th>
                                    <th>Longitude</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="ng-cloak" ng-repeat="u in GeoLocationList track by $index">
                                    <td> {{$index+1}}</td>
                                    <td>{{u.LocationStamp}}</td>
                                    <td>{{u.LocationLatitude}}</td>
                                    <td>{{u.LocationLongitude}}</td>
                                    <td>{{u.LocationAddress}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <h2 class="page-header"><span>Feedback Log</span></h2>
                        <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>S.No.</th>
                                    <th>Question</th>
                                    <th>Answer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="ng-cloak" ng-repeat="u in assessmentDetailList1 track by $index">
                                    <td> {{u.Sequence}}</td>
                                    <td>{{u.Question}}</td>
                                    <td>{{u.Answer}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <h2 class="page-header"><span>Start/End Photograph Log</span></h2>
                        <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Date Time</th>
                                    <th>Latitude</th>
                                    <th>Longitude</th>
                                    <th>Address</th>
                                    <th>Image</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr class="ng-cloak" ng-repeat="u in assessmentDetailLis3 track by $index">
                                    <td>{{u.DuringType}}</td>
                                    <td>{{u.Stamp}}</td>
                                    <td>{{u.latitude}}</td>
                                    <td>{{u.longitude}}</td>
                                    <td>{{u.Address}}</td>
                                    <td><a href="@ViewBag.PhotoLogURL{{u.StartUserImage}}" ng-mousedown="openTab()" target="_blank" ng-show="u.StartUserImage!=null?true:false" title="View Image" class="actn"><img src="@ViewBag.PhotoLogURL{{u.StartUserImage}}" class="image-st"></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <h2 class="page-header"><span>Assessment Photograph Log</span></h2>
                        <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>S.No.</th>
                                    <th>Date Time</th>
                                    <th>Name</th>
                                    <th>Latitude</th>
                                    <th>Longitude</th>
                                    <th>Address</th>
                                    <th>Image</th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr class="ng-cloak" ng-repeat="u in assessmentDetailList2 track by $index">
                                    <td> {{$index+1}}</td>
                                    <td>{{u.Stamp}}</td>
                                    <td>{{u.Description}}</td>
                                    <td>{{u.DocumentLatitude}}</td>
                                    <td>{{u.DocumentLongitude}}</td>
                                    <td>{{u.Address}}</td>
                                    <td><a href="@ViewBag.PhotoLogURL{{u.DocumentPath}}" ng-mousedown="openTab()" target="_blank" title="View Image" class="actn"><img src="@ViewBag.PhotoLogURL{{u.DocumentPath}}" class="image-st"></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <h2 class="page-header"><span>Assessment remarks by Assessor</span></h2>
                        <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Remarks</th>
                                    <th>NoOfCandidate</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr class="ng-cloak" ng-repeat="u in EndAssessmentSummaryList track by $index">
                                    <td>{{u.Remarks}}</td>
                                    <td>{{u.NoOfCandidate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <h2 class="page-header"><span>Device change Record</span></h2>
                        <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>S.No.</th>
                                    <th>Device Name</th>
                                    <th>Device id</th>
                                    <th>Date Time</th>
                                    <th>Aadhaar Auth Success</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr class="ng-cloak" ng-repeat="u in assessmentDeviceDetail track by $index">
                                    <td> {{$index+1}}</td>
                                    <td>{{u.DeviceName}}</td>
                                    <td>{{u.DeviceId}}</td>
                                    <td>{{u.DeviceDateTime}}</td>
                                    <td>{{u.IsAadhaarAuth}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                @*<div class="card-body">
            <div class="table-responsive">
                <h2 class="page-header"><span>Photograph Log</span></h2>
                <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                    <thead>
                        <tr>

                            <th>Start Image Name</th>
                            <th>Start Time</th>
                            <th>End Image Name</th>
                            <th>End Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="ng-cloak" ng-repeat="u in assessmentDetailList track by $index">
                            <td>{{u.Startimagename}}</td>
                            <td>{{u.StartStatus}}</td>
                            <td>{{u.Endimagename}}</td>
                            <td>{{u.EndStatus}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>*@
            </div>
        </div>
    </div>


</div>








